#board {
	margin-top: 10px;
}
.box {
	border: 1px solid black;
	height: 150px;
}
.col-xs-4 {
	text-align: center;
}
.input-button {
	width: 150px;
	height: 145px;
	vertical-align: middle;
	font-size: 100px;
	color: red;
}